# Adopce zvířat

Stáhni si [dataset](adopce-zvirat.csv), který obsahuje seznam zvířat k adopci v ZOO Praha. Zdroj dat je [Národní katalog otevřených dat](https://data.gov.cz/).


* Data si načti pomocí metody `pandas.read_csv()`. Pozor, nastav oddělovač na znak středníku. Využij parametr `sep`.

In [10]:
import pandas
seznam_zvirat = pandas.read_csv("adopce-zvirat.csv", sep=";")


* Seznam se s daty. Kolik má tabulka řádek a sloupců? Jak se sloupce jmenují?

In [13]:
print(f"Tabulka má počet řádků: {seznam_zvirat.shape[0]}.")
print(f"Tabulka má počet sloupců: {seznam_zvirat.shape[1]}.")

print(f"Tabulka obsahuje tyto sloupce: {seznam_zvirat.columns.values}.")

# seznam_zvirat.info()

Tabulka má počet řádků: 513.
Tabulka má počet sloupců: 6.
Tabulka obsahuje tyto sloupce: ['id' 'nazev_cz' 'nazev_en' 'trida_cz' 'cena' 'k_prohlidce'].


* Které zvíře se nachází na záznamu s indexem 34? Vypiš pomocí `iloc` název tohoto zvířete v češtině i angličtině.

In [3]:
seznam_zvirat.iloc[[34],[1,2]]

     nazev_cz    nazev_en
34  Ibis bílý  White ibis


## Bonus

V lekci jsme zmínili, že existují i jiné typy indexů, než jen číselný, který sám vyrobí `pandas`. Například v kontextu souboru se zvířaty se nabízí hned několik sloupců, které bychom mohli využít jako index, které nejsou číselné.


* Načti znovu data, ale tentokrát nastav parametr `index_col` na název sloupce, který obsahuje název zvířete v češtině. Všimni si, že sloupec teď povýší na index a už se nenachází mezi "běžnými" sloupci.

In [4]:
seznam_zvirat_2 = pandas.read_csv("adopce-zvirat.csv", sep=";", index_col="nazev_cz")


* Pomocí `<tvoje-promenna>.index.is_unique` ověř, zda je nový index unikátní.

In [5]:
seznam_zvirat_2.index.is_unique

True


* Seřazený index je efektivnější a přehlednější. Seřaď index pomocí metody `.sort_index()`. Bacha, metoda vrátí novou tabulku se seřazeným indexem. Budeš tedy chtít přepsat původní tabulku.

In [6]:
seznam_zvirat_2 = seznam_zvirat_2.sort_index()


* Vyhledej řádek indexovaný názvem `"Outloň váhavý"`. Namísto metody `.iloc` využij `.loc`.

In [7]:
seznam_zvirat_2.loc["Outloň váhavý"]

id                          749
nazev_en       Sunda slow loris
trida_cz                  Savci
cena                       2000
k_prohlidce                   1
Name: Outloň váhavý, dtype: object


* Rozsahy fungují podobně jako u číselných indexů. Vyhledej záznamy mezi `"Želva Smithova"` a `"Želva žlutočelá"`.

In [8]:
seznam_zvirat_2.loc["Želva Smithova":"Želva žlutočelá"]

,id,nazev_en,trida_cz,cena,k_prohlidce
nazev_cz,,,,,
Želva Smithova,1117,Brown roof turtle,Plazi,1000,1
Želva amboinská,479,Malayan box turtle,Plazi,1000,1
Želva annámská,478,Vietnamese pond turtle,Plazi,1000,1
Želva bahenní,1115,European pond turtle,Plazi,1000,1
Želva dlaždicovitá,1338,Impressed tortoise,Plazi,3000,1
Želva egyptská,980,Egyptian tortoise,Plazi,1000,1
Želva hvězdnatá,1412,,Plazi,1500,1
Želva korunkatá,1112,Crowned river turtle,Plazi,2000,1
Želva kubánská,830,North Antillean slider,Plazi,1000,1
Želva obrovská,40,Aldabra giant tortoise,Plazi,5000,1
Želva ostnitá,1255,Spiny turtle,Plazi,2000,1
Želva pardálí,763,Leopard tortoise,Plazi,2000,1
Želva plochohřbetá,987,Malayan flat-shelled turtle,Plazi,2000,1
Želva skalní,41,Pancake tortoise,Plazi,1000,1
Želva sloní,39,Galapagos tortoise,Plazi,5000,1
Želva stepní (= čtyřprstá),38,Russian tortoise,Plazi,1500,1
Želva texaská (= Berlandierova),1096,Texas tortoise,Plazi,1000,1
Želva tlustohrdlá,772,Malaysian black mud turtle,Plazi,1000,1
Želva tuniská,1160,Tunisian spur-thighed tortoise,Plazi,1000,1
Želva zubatá,771,Asian leaf turtle,Plazi,1000,1
Želva černavá,673,Giant Asian pond turtle,Plazi,2000,1
Želva žlutočelá,37,Indochinese box turtle,Plazi,1000,1

In [9]:
## Razeni se u specialnich znaku a ceske diakritiky chova divne.
## Ridi se ASCII kodovanim, resp. Windows-1250 pro ceske znaky.
## Co s tim?

#!pip install unidecode
from unidecode import unidecode

seznam_zvirat["nazev_cz"] = seznam_zvirat["nazev_cz"].apply(unidecode) ## nahrazeni specialnich znaku v Series
seznam_zvirat_2.index = seznam_zvirat_2.index.map(unidecode) ## nahrazeni specialnich znaku v indexu